body {
  font-family: helvetica;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: lightblue;
  background-image: url("https://gateway.pinata.cloud/ipfs/QmZLWxBqGbZFQsrpNgygNqT2w93MUWn7SwnwpoJMj8gscw");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  color: black;
  height: 100%;
 
}
.error {
  text-align: left;
  max-width: 2039px;
  padding: 0 10px; :
  box-sizing: border-box;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Menlo, monaco;
}
.box {
  max-width: 300px;
  text-align: center;
}
.box > *, .minter > *{
  display: block;
  width: 100% !important;
  margin-bottom: 10px;
}
.nice-select {
  margin-bottom: 10px;
  color: black;
}
.nice-select-dropdown {
  width: 100%;
}
button {
  background: rgba(128,128,128,0.8);
  color: black;
  padding: 10px;
  border: none;
}
.container {
  max-width: 885px;
  margin: 50px auto;
}
a {
  color: royalblue;
  text-decoration: none;
  display: block;
}
.label {
  font-size: 18px;
  font-weight: bold;
}
h1 {
  background: rgba(255,255,255,0.8); 
  margin: 0;
  font-size: 30px;
  box-sizing: border-box;
  letter-spacing: -1px;
}
h1 a {
  background: rgba(255,255,255,0.8); 
  color: black;
}
.invite {
  background: rgba(255,255,255,0.5); 
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: left;
  color: black;
  font-size: 16px;
}
.invites a {
  background: rgba(255,255,255,0.8); 
  color: black;
}
.invites {
}
table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  display: table !important;
  margin-top: 10px;
  background: rgba(255,255,255,0.5); 
}
td, th {
  padding: 5px;
  font-size: 14px;
  background: rgba(255,255,255,0.5); 
}
th {
  border-bottom: 1px solid rgba(0,0,0,0.8);
  border-top: 1px solid rgba(0,0,0,0.8);
}
tr {
  width: 100%;
  border-bottom: 1px solid black;
  background: rgba(255,255,255,0.5); 
}
.btn {
  background: rgba(128,128,128,0.8); 
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}
.btn.full {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: rgba(128,128,128,0.8); 
}
.hidden {
  display: none !important;
}
.loading {
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
  background: rgba(255,255,255,0.8);
  margin-top: 20px;
  border-radius: 50px;
}
tr img {
  height: 20px;
}
tr a {
  color: black;
  background: rgba(255,255,255,0.5); 
}
.token {
  background: rgba(255,255,255,0.8);
  padding: 5px;
  text-align: center;
  font-size: 12px;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
